name: Golang Build
on:
  pull_request:
    branches: [ '**' ]

jobs:
  full_ci:
    strategy:
      matrix:
        go-version: [ 1.16.x ]

    runs-on: windows-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: build
        run: go build -o login-server.exe ./src/